{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width", initial-scale="1.0" />

        <title>
            {% block title %}
                Shop
            {% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static 'Shop/style.css' %}?v=27" />
    </head>
    <body>
        <header>
            <h1>
                {% block header %}
                    Shop
                {% endblock header %}
            </h1>
        </header>
        {% block navbar_block %}
            {% include 'Shop/navbar.html' %}
        {% endblock navbar_block %}
        <main>
            {% block content %}
            {% endblock content %}
        </main>
        <footer>
            <br><br>
             <button onclick="history.back()" class="btn-secondary">Go Back</button>
        </footer>
    </body>
</html>